// Front page styling

// Page image background
body.home {
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: $dark-gray;
	background-position: center top;
	background-size: cover;
	
	@include breakpoint(small only) {background-image: url(../images/front/bg-1-small.jpg)}	
	@include breakpoint(medium) {background-image: url(../images/front/bg-1-large.jpg)}
	
	&.bg-1 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-1-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-1-large.jpg)}
	}
	
	&.bg-2 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-2-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-2-large.jpg)}
	}
	
	&.bg-3 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-3-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-3-large.jpg)}
	}
	
	&.bg-4 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-4-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-4-large.jpg)}
	}
	
	&.bg-5 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-5-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-5-large.jpg)}
	}
	
	&.bg-6 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-6-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-6-large.jpg)}
	}
	
	&.bg-7 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-7-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-7-large.jpg)}
	}
}

// Page header
.front-hero {
	.marketing {
		@include flex-grid-row();
		
		height: calc(100vh - 211px);
		
		align-items: center;
	}
	
	.tagline {
		@include grid-column(12);
		
		text-align: center;
	}
	
	h1 {
		color: #fff;
		font-weight: 900;
		
		@include breakpoint(small) {
			font-size: rem-calc(32);
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(44);
		}
	}
	
	h4 {
		color: #fefefe;
		font-weight: 300;
		font-size: rem-calc(20);
	}
}
