// Front page styling

// Page image background
body.home {
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: $dark-gray;
	background-position: center top;
	background-size: cover;
	
	@include breakpoint(small only) {background-image: url(../images/front/bg-1-small.jpg)}	
	@include breakpoint(medium) {background-image: url(../images/front/bg-1-large.jpg)}
	
	&.bg-1 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-1-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-1-large.jpg)}
	}
	
	&.bg-2 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-2-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-2-large.jpg)}
	}
	
	&.bg-3 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-3-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-3-large.jpg)}
	}
	
	&.bg-4 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-4-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-4-large.jpg)}
	}
	
	&.bg-5 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-5-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-5-large.jpg)}
	}
	
	&.bg-6 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-6-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-6-large.jpg)}
	}
	
	&.bg-7 {
		@include breakpoint(small only) {background-image: url(../images/front/bg-7-small.jpg)}	
		@include breakpoint(medium) {background-image: url(../images/front/bg-7-large.jpg)}
	}
}

// Page header
.front-hero {
	.marketing {
		@include flex-grid-row();
		
		height: calc(100vh - 211px);
		
		align-items: center;
	}
	
	.tagline {
		@include grid-column(12);
		
		text-align: center;
	}
	
	h1 {
		color: #fff;
		font-weight: 900;
		
		@include breakpoint(small) {
			font-size: rem-calc(32);
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(44);
		}
	}
	
	h4 {
		color: #fefefe;
		font-weight: 300;
		font-size: rem-calc(20);
	}
}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
      @include xy-cell-offset(1);

      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  hr {
    @include xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

// Benefits
.benefits {
  @include xy-grid-container;
  @include xy-grid;
  text-align: center;

  header {
    @include xy-cell(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include xy-cell(12);
    margin-top: 4rem;
  }
}
